body {
  font-size: 16px;
  position: relative;
}
.ui {
  &-header {

    padding: 3rem 0;
    background-color: #f6f6f6;
    border-top: 5px solid #83b46d;

    &--title {
      color: #83b46d;
      font-weight: normal;
      font-size: 38px;
      line-height: 38px;

      & strong {
        color: #525252;
      }
    }

    &--subtitle {
      margin: 20px 0 0;
      color: #a7a7a7;
      line-height: 1;
    }
  }
  &-dropdown-menu {
    .dropdown-menu {
      position: static;
      display: block;
    }
  }
}

.site-nav {
  position: relative;
}
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-nav > ul > li > a.active {
  border-color: #83b46d;
  color: #83b46d;
}
.site-nav li a {
  display: block;
  padding: 5px 15px;
  border-left: 4px solid transparent;
  color: #525252;
  text-decoration: none;
}
.site-nav li a:hover {
  color: #83b46d;
}
ul.sub-menu li a {
  padding-left: 35px;
  font-size: 14px;
}
ul.sub-menu li > a.active {
  color: #83b46d;
}
.section--title {
  margin: 0 ;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
pre[class*="language-"] {
  margin: 0 ;
  border-top-left-radius:0;
  border-top-right-radius:0;
}