section.py-3(id= layout.alert.id)
	+section_title(layout.alert.title)
	.py-4
		each alerColor,alerColorValue in theme_colors
			div.alert(class='alert-' +alerColorValue, role="alert")
				| This is a primary alert—check it out!