section.py-3(id= layout.buttons.id)
	+section_title(layout.buttons.title)
	.py-4
		h4 Default
		.mb-3
			each Color,ColorValue in theme_colors
				+button('text-capitalize btn-' + ColorValue, ColorValue)

		h4 Outline buttons
		.mb-3
			each Color,ColorValue in theme_colors
				+button('text-capitalize btn-outline-' + ColorValue, ColorValue)

		.card.mt-3
			a.card-header.text-dark(data-toggle="collapse" href="#collapse" + layout.buttons.id aria-expanded="false" aria-controls="collapse" + layout.buttons.id)=layout.buttons.id
				|  pre code
			.collapse.show(id="collapse" + layout.buttons.id)
				pre.line-numbers.rounded-0
					code.language-html
						each Color,ColorValue in theme_colors
							='<button type="button" class="btn btn-' + ColorValue + '">' + ColorValue + '</button>'
							|
							|

		h4.mt-3 Size
		.mb-3
			each size in sizes
				.form-group.row
					.col
						+button('text-capitalize btn-warning btn-' + size, 'Санкт-Петербург')
					.col
						input.form-control(type='text', placeholder='.form-control-'+ size, class='Санкт-Петербург form-control-'+ size)