mixin head(data)
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content=data.pageDesc)
	meta(name="author" content="")
	title #{data.pageTitle}
	include head__favicons
	// Core CSS
	link(href="css/system.css" rel="stylesheet")
	link(href="css/theme.css" rel="stylesheet")