@import "vendors/bootstrap/functions";
@import "config/variables";

// Vendor
@import "vendors/bootstrap/vendor/rfs";

// Configuration
@import "vendors/bootstrap/maps";
@import "vendors/bootstrap/mixins";
@import "vendors/bootstrap/utilities";

// Layout & components
@import "vendors/bootstrap/root";
@import "vendors/bootstrap/reboot";
//@import "vendors/bootstrap/type";
//@import "vendors/bootstrap/images";
@import "vendors/bootstrap/containers";
@import "vendors/bootstrap/grid";
//@import "vendors/bootstrap/tables";
@import "vendors/bootstrap/forms";
@import "vendors/bootstrap/buttons";
//@import "vendors/bootstrap/transitions";
//@import "vendors/bootstrap/dropdown";
//@import "vendors/bootstrap/button-group";
//@import "vendors/bootstrap/nav";
//@import "vendors/bootstrap/navbar";
//@import "vendors/bootstrap/card";
//@import "vendors/bootstrap/accordion";
//@import "vendors/bootstrap/breadcrumb";
//@import "vendors/bootstrap/pagination";
//@import "vendors/bootstrap/badge";
//@import "vendors/bootstrap/alert";
//@import "vendors/bootstrap/progress";
//@import "vendors/bootstrap/list-group";
//@import "vendors/bootstrap/close";
//@import "vendors/bootstrap/toasts";
//@import "vendors/bootstrap/modal";
//@import "vendors/bootstrap/tooltip";
//@import "vendors/bootstrap/popover";
//@import "vendors/bootstrap/carousel";
//@import "vendors/bootstrap/spinners";
//@import "vendors/bootstrap/offcanvas";

// Helpers
//@import "vendors/bootstrap/helpers/clearfix";
//@import "vendors/bootstrap/helpers/colored-links";
//@import "vendors/bootstrap/helpers/ratio";
//@import "vendors/bootstrap/helpers/position";
//@import "vendors/bootstrap/helpers/visually-hidden";
//@import "vendors/bootstrap/helpers/stretched-link";
//@import "vendors/bootstrap/helpers/text-truncation";

$utilities: map-get-multiple($utilities (
  //"display",
  //"order",
  //"flex",
  //"flex-direction",
  //"flex-grow",
  //"flex-shrink",
  //"flex-wrap",
  //"justify-content",
  //"align-items",
  //"align-content",
  //"align-self",
  //"margin",
  //"margin-x",
  //"margin-y",
  //"margin-top",
  //"margin-end",
  //"margin-bottom",
  //"margin-start",
  //"negative-margin",
  //"negative-margin-x",
  //"negative-margin-y",
  //"negative-margin-top",
  //"negative-margin-end",
  //"negative-margin-bottom",
  //"negative-margin-start",
  //"padding",
  //"padding-x",
  //"padding-y",
  //"padding-top",
  //"padding-end",
  //"padding-bottom",
  //"padding-start",
));
// Utilities
@import "vendors/bootstrap/utilities/api";

// compile fontawesome
//@import 'vendors/font-awesome/font-awesome';
