@import "vendors/bootstrap/functions";
@import "config/variables";

// Vendor
@import "vendors/bootstrap/vendor/rfs";

// Deprecate
@import "vendors/bootstrap/mixins/deprecate";

@import "vendors/bootstrap/mixins";

//@import "vendors/bootstrap/root";
@import "vendors/bootstrap/reboot";
//@import "vendors/bootstrap/type";
//@import "vendors/bootstrap/images";
//@import "vendors/bootstrap/code";
@import "vendors/bootstrap/grid";
//@import "vendors/bootstrap/tables";
@import "vendors/bootstrap/forms";
@import "vendors/bootstrap/buttons";
//@import "vendors/bootstrap/transitions";
//@import "vendors/bootstrap/dropdown";
//@import "vendors/bootstrap/button-group";
//@import "vendors/bootstrap/input-group";
//@import "vendors/bootstrap/custom-forms";
//@import "vendors/bootstrap/nav";
//@import "vendors/bootstrap/navbar";
//@import "vendors/bootstrap/card";
//@import "vendors/bootstrap/breadcrumb";
//@import "vendors/bootstrap/pagination";
//@import "vendors/bootstrap/badge";
//@import "vendors/bootstrap/alert";
//@import "vendors/bootstrap/progress";
//@import "vendors/bootstrap/media";
//@import "vendors/bootstrap/list-group";
//@import "vendors/bootstrap/close";
//@import "vendors/bootstrap/toasts";
//@import "vendors/bootstrap/modal";
//@import "vendors/bootstrap/tooltip";
//@import "vendors/bootstrap/popover";
//@import "vendors/bootstrap/carousel";
//@import "vendors/bootstrap/print";
//@import "vendors/bootstrap/spinners";

// Utilities
//@import "vendors/bootstrap/utilities/align";
//@import "vendors/bootstrap/utilities/background";
//@import "vendors/bootstrap/utilities/borders";
//@import "vendors/bootstrap/utilities/clearfix";
//@import "vendors/bootstrap/utilities/display";
//@import "vendors/bootstrap/utilities/embed";
//@import "vendors/bootstrap/utilities/flex";
//@import "vendors/bootstrap/utilities/float";
//@import "vendors/bootstrap/utilities/interactions";
//@import "vendors/bootstrap/utilities/overflow";
//@import "vendors/bootstrap/utilities/position";
//@import "vendors/bootstrap/utilities/screenreaders";
//@import "vendors/bootstrap/utilities/shadows";
//@import "vendors/bootstrap/utilities/sizing";
//@import "vendors/bootstrap/utilities/spacing";
//@import "vendors/bootstrap/utilities/stretched-link";
//@import "vendors/bootstrap/utilities/text";
//@import "vendors/bootstrap/utilities/visibility";


// compile fontawesome
//@import 'vendors/font-awesome/font-awesome';

