{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": [
        "airbnb-base",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:sonarjs/recommended",
        "plugin:promise/recommended"
    ],
    "plugins": [
        "sonarjs",
        "no-loops",
        "promise",
        "unicorn"
    ],
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "packageDir": "./"
            }
        ],
        "allowTernary": 0,
        "sonarjs/cognitive-complexity": ["error", 30],
        "no-loops/no-loops": 2,
        "linebreak-style": 0,
        "unicorn/catch-error-name": "error",
        "unicorn/custom-error-definition": "off",
        "unicorn/error-message": "error",
        "unicorn/escape-case": "error",
        "unicorn/explicit-length-check": "error",
        "unicorn/filename-case": "error",
        "unicorn/import-index": "error",
        "unicorn/new-for-builtins": "error",
        "unicorn/no-abusive-eslint-disable": "error",
        "unicorn/no-array-instanceof": "error",
        "unicorn/no-console-spaces": "error",
        "unicorn/no-fn-reference-in-iterator": "off",
        "unicorn/no-for-loop": "error",
        "unicorn/no-hex-escape": "error",
        "unicorn/no-keyword-prefix": "off",
        "unicorn/no-new-buffer": "error",
        "unicorn/no-process-exit": "error",
        "unicorn/no-unreadable-array-destructuring": "error",
        "unicorn/no-unsafe-regex": "off",
        "unicorn/no-unused-properties": "off",
        "unicorn/no-zero-fractions": "error",
        "unicorn/number-literal-case": "error",
        "unicorn/prefer-add-event-listener": "error",
        "unicorn/prefer-event-key": "error",
        "unicorn/prefer-exponentiation-operator": "error",
        "unicorn/prefer-flat-map": "error",
        "unicorn/prefer-includes": "error",
        "unicorn/prefer-node-append": "error",
        "unicorn/prefer-node-remove": "error",
        "unicorn/prefer-query-selector": "error",
        "unicorn/prefer-spread": "error",
        "unicorn/prefer-starts-ends-with": "error",
        "unicorn/prefer-text-content": "error",
        "unicorn/prefer-type-error": "error",
        "unicorn/prevent-abbreviations": "off",
        "unicorn/regex-shorthand": "error",
        "unicorn/throw-new-error": "error"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js"]
            }
        }
    }
}