mixin pagination()
	nav
		ul.pagination.justify-content-center
			li.page-item.disabled
				span.page-link Previous
			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				span.page-link
					| 2
					span.sr-only (current)
			li.page-item
				a.page-link(href='#') 3
			li.page-item
				a.page-link(href='#') Next