extends ../../layout/page

block variables
	- var variable = index

block head

block header

block content
	.container.pt-2
		h1.bg-light.py-5.text-center Hello World!!!

		+breadcrumb('Страница', ['Категория'])

		include ../../components/pagination/pagination

block footer

