footer.bg-dark.text-white.py-3
	.container.text-center
		a(href="https://kitdeveloper.ru/" target="_blank") Kitdeveloper
	block footer

script(src="js/jquery.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.js")
script(src="js/theia-sticky-sidebar.js")
script(src="js/prism-min.js")
script(src="js/script.js")