extends layout/page

block variables
	- var title = 'Hello'
	- var pageLink = 'index.html'
	- var mainPage = 'home-page'

block head

block header

block content
	.container.pt-2
		h1.bg-light.py-5.text-center hello

		+breadcrumb('Страница', ['Категория'])

		.container.pos-r.px-0
			#editor

		include mixin/pagination

block footer
	script(src="https://cloud9ide.github.io/emmet-core/emmet.js")

	script(src="ace-builds-master/src-noconflict/ace.js")
	//script(src="ace-builds-master/src-noconflict/ext-language_tools.js")
	script(src="ace-builds-master/src-noconflict/ext-emmet.js")
	script.
		// // trigger extension
		// ace.require("ace/ext/language_tools");
		// var editor = ace.edit("editor");
		// editor.session.setMode("ace/mode/html");
		// editor.setTheme("ace/theme/tomorrow");
		// // enable autocompletion and snippets
		// editor.setOptions({
		// 	enableBasicAutocompletion: true,
		// 	enableSnippets: true,
		// 	enableLiveAutocompletion: false
		// });
		var editor = ace.edit("editor");
		editor.session.setMode("ace/mode/html");
		// enable emmet on the current editor
		editor.setOption("enableEmmet", true);