.pos-r  {
  position: relative;
}

// Размер шрифта в пикселях
@each $font-size in 10, {
  .fs-#{$font-size} {
    font-size: #{$font-size}px;
  }
}

//@include media-breakpoint-up(sm) {
//  @each $font-size in 12, 16 {
//    .fs-sm-#{$font-size} {
//      font-size: #{$font-size}px;
//    }
//  }
//}
//
//@include media-breakpoint-up(md) {
//  @each $font-size in 16, 18, 20, 22, 24, 26, 30, 36, 40, 48, 60, 90 {
//    .fs-md-#{$font-size} {
//      font-size: #{$font-size}px;
//    }
//  }
//}
//@include media-breakpoint-up(lg) {
//  @each $font-size in 18, 60 {
//    .fs-lg-#{$font-size} {
//      font-size: #{$font-size}px;
//    }
//  }
//}
//@include media-breakpoint-up(xl) {
//  @each $font-size in 24 {
//    .fs-xl-#{$font-size} {
//      font-size: #{$font-size}px;
//    }
//  }
//}

// font weight

// line-height
.lh-1 {
  line-height: 1;
}
.lh-3 {
  line-height: 1.5;
}

// btn icon
.btn-icon-40 {
  font-size: 22px;
  padding: 0.1875rem 0.5625rem;
}

// text color


// text-decoration
.text-line-through {
  text-decoration: line-through;
}

// backgraund color


//
.z-10 {
  z-index: 10;
}

// 
.cursor-p {
  cursor: pointer;
}
// transform
.rotate-180 {
  transform: rotate(180deg);
}

// font family

// Border

.straighten-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.straighten-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.straighten-bottom {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.straighten-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}