.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

[data-stroke="true"] {
  stroke: currentColor;
}
[data-fill="true"] {
  fill: currentColor;
}
/* stylelint-disable-line */
{{#shapes}}
.icon-{{base}} {
  width:(calc({{width.inner}}/{{height.inner}}))*1em;
}
{{/shapes}}
