doctype html

include ../mixin/breadcrumb
include ../mixin/pagination
include ../mixin/img
include ../mixin/svg

block variables

html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		title #{title}
		include favicons
		// Bootstrap core CSS
		link(href="css/system.css" rel="stylesheet")
		link(href="css/theme.css" rel="stylesheet")
		block head

	body.d-flex.flex-column.h-100
		.main-wrap.flex-shrink-0
			include header

			block content

		include footer

		script(src="js/jquery.min.js")
		script(src="js/app.js")
		script(src="js/holder.js")


