.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

[data-stroke="true"] {
  stroke: currentColor;
}
[data-fill="true"] {
  fill: currentColor;
}

{{#shapes}}
.icon-{{base}} {
  width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}
